<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>The Production Portal</h1>
        <p>Behind the scenes, beyond the page.</p>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="characters.html">Characters</a></li>
                <li><a href="stories.html">Stories</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="updates.html">Updates</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Frequently Asked Questions</h2>
            <p>Here are answers to some common questions about my stories.</p>
            <div id="faq-list" class="faq-list"></div>
            <h3>Ask a Question, or leave a message!</h3>
            <p>Good and/or frequently asked questions will be added to this page. Other messages will be kept to heart, Anything is appreciated!</p>
            <form id="question-form" action="https://formspree.io/f/xaneyzgv" method="post">
                <input type="text" id="question" name="question" placeholder="Your question" class="form-field">
                <textarea id="additional-info" name="additionalInfo" placeholder="Any additional information --- Your personal message" class="form-field"></textarea>
                <br/>
                <button type="submit" id="send-button">SEND</button>
            </form>            
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Your Name</p>
    </footer>
    <script>
        document.getElementById('question-form').addEventListener('submit', function() {
        setTimeout(() => {
            this.reset();
        }, 500); // Reset form after 500ms
    });
        fetch('../JSON/faqs.json')
            .then(response => response.json())
            .then(data => {
                const faqList = document.getElementById('faq-list');
                data.forEach(faq => {
                    const faqItem = document.createElement('div');
                    faqItem.classList.add('faq-item');
                    faqItem.innerHTML = `
                        <h4>${faq.question}</h4>
                        <p>${faq.answer}</p>
                    `;
                    faqList.appendChild(faqItem);
                });
            });
    </script>
</body>
</html>
